<form asp-action="ImportXml" asp-controller="Home" enctype="multipart/form-data" method="post">
    <input type="file" name="xmlFile" />
    <br />
    <button type="submit">Import XML</button>
</form>
