@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Domain.Models.ClientModel>

<h2>Clients</h2>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>BirthDate</th>           
        </tr>
    </thead>
    <tbody>
        @foreach (var client in Model)
        {
            <tr>
                <td>@client.Name</td>
                <td>@client.BirthDate.ToShortDateString()</td>               
                <td>
                    <a href="@Url.Action("Details", "Home", new { id = client.Id })">View Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="/Home/Create">Add New Client</a>

<br />
<br />
<a href="/Home/ImportXml">Import</a>

<br />
<a href="/Home/ExportClientsInJson">Export Json</a>


